1. What are data structures, and why are they important?
- Data structure is way of storing data in different ways  so that it can be manipulated and used to make data driven decisions

2. Explain the difference between mutable and immutable data types with examples
- Mutable data types are those whose value can be updated or changed as per requirement after creating them ex. lists,dictionary
-Immutable are those, with them we can't do this once they are create they are unchangeable ex.Tuples

3. What are the main differences between lists and tuples in Python .?
- By their attribute lists are mutable and tuples are not.It is the only major differnce other than the sign by which it get created which is [] for lists and () for tuples

4. Describe how dictionaries store data.?
- dictionaries store data by associating data an making it a key value pairs like dic={a:1} where "a" is key and "1" is value

5.  Why might you use a set instead of a list in Python.?
- Incase I only want unique elements from the data.

6.What is a string in Python, and how is it different from a list?
- a string in Python is just a bunch of characters, like "hello", and you can't change it once it's made. A list, like [1, "hi", 3], can hold different stuff and you can totally change its elements. Main difference is strings are fixed, lists ain't

7. How do tuples ensure data integrity in Python.?
-tuples in Python are like locked boxes—they're immutable, so once you create them, you can't mess with the data inside, which keeps things safe and consistent. This makes them great for stuff like storing fixed data, like coordinates or settings, that shouldn't change. Unlike lists, which you can tweak, tuples ensure no one accidentally alters the values, protecting data integrity

8.What is a hash table, and how does it relate to dictionaries in Python.?
-A hash table is like a super quick way to store key-value pairs, where keys get hashed or (encoded) to find values fast. In Python, dictionaries use hash tables to do this, so when you lookup stuff like my_dict["key"], it is  efficient  keys must be immutable, or it won’t work.

9.Can lists contain different data types in Python.?
- yes it is designed for that,it in Python can totally hold different data types, like numbers, strings, or even other lists, all in one go.

10.Explain why strings are immutable in Python?
- Strings in Python are immutable because once you create them, you can’t tweak the characters inside, like changing a letter in "hello" directly. It’s designed this way to keep them reliable for stuff like dictionary keys or consistent text, so you gotta make a new string instead, which helps in avoiding bugs

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are handy for quick lookups with keys, like getting a value with a name, because they use hash tables for speed. Lists make you check each item one by one, which is slower, so dictionaries is better for stuff like linking names to marks.

12.Describe a scenario where using a tuple would be preferable over a list
- When data shouldn’t change, like coordinates (x, y) of missile going to hit pakistan air base. or days of week, cuz tuples are immutable and faster than lists.

13.How do sets handle duplicate values in Python?
- Sets auto remove duplicates, only keep unique values. Like if you add {1, 2, 2, 3}, it becomes {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
- In lists, "in" checks if value exists (like 3 in [1,2,3]). In dicts, it checks keys by default (like "key" in my_dict), not value

15.  Can you modify the elements of a tuple? Explain why or why not.?
- No, tuples are immutable—once created, their elements can’t be changed. This ensures data safety and faster performance

16.What is a nested dictionary, and give an example of its use case?
- A nested dict is a dictionary inside another dictionary. Useful for storing structured data, like student records
students =  {"101":{"name": "Rahul", "marks": 85},"102":{"name": "Priya","marks": 90}}

17.  Describe the time complexity of accessing elements in a dictionary?
- average case— fast Python’s hash tables let us grab values by key in constant time, no matter dict size

18.In what situations are lists preferred over dictionaries?
- when we have to find a value based on "key" not "index".

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- because they used hash tables for fast lookups, not ordering
cannot use index but for loop is used

20.Explain the difference between a list and a dictionary in terms of data retrieval
- in lists index is used and in dictionary keys are used.

PRACTICAL QUESTIONS:--

1. Write a code to create a string with your name and print it

In [1]:
name="sparsh"
print(name)

sparsh

2.Write a code to find the length of the string "Hello World"

In [2]:
s="hello world"
len(s)

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
s="Python Programming"
s[0:3]

'Pyt'

4.Write a code to convert the string "hello" to uppercase

In [5]:
s="hello"
s.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
s="I like apple"
s.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it

In [10]:
l=[]
for i in range(0,6):
  l.append(i)
print(l)

[0, 1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [12]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [14]:
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [15]:
my_list = [10, 20, 30, 40, 50]
my_list[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [18]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [19]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13.. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [20]:
numbers = (10, 20, 5, 15)
min(numbers)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [21]:
animals = ('dog', 'cat', 'rabbit')
animals.index('cat')

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [23]:
fruits = ("apple", "banana","kiwi", "orange")
if "kiwi" in fruits:
    print("kiwi is in  it.")
else:
    print("kiwi is not in it.")

kiwi is in  it.

16.. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [25]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [27]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [28]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [29]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set =set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [30]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [31]:
p = {"name": "John","age": 30,"city": "New York"}
print(p)

{'name': 'John', 'age': 30, 'city': 'New York'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [32]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [33]:
person = {'name': 'Alice', 'age': 30}
person['name']

'Alice'

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [34]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [35]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists")
else:
    print("Key 'city' does not exist.")

Key 'city' exists

26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [36]:
my_list = [10, 20, 30, 40]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30, 40]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [37]:
numbers = [37, 1, 10, 19, 28]
numbers.sort()
print("Sorted numbers:", numbers)

Sorted numbers: [1, 10, 19, 28, 37]

28.Write a code to create a list with strings and print the element at the third index.

In [39]:
fruits = ["apple", "banana", "cherry", "date", "elderberry", "fig"]
fruits[3]

'date'

29. Write a code to combine two dictionaries into one and print the result.

In [40]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = dict1 | dict2
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [41]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]
unique_fruits = set(fruits)
print(unique_fruits)

{'cherry', 'banana', 'apple'}